<html>
<head>
 <script src="Scripts/jquery.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        // Add the page method call as an onclick handler for the div.
        $("#Result").click(function () {
            alert("clicked");
            $.ajax({
                type: "POST",
                url: "Default.aspx/validate",
                data: "{'value':'"+$("#value").val()+"'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    // Replace the div's content with the page method's return.
                    if (msg.d == "true")
                    //write the code to show popup.
                        $("#value").val("THis is validated");
                    else
                    // dont show the popup.
                        $("#value").val("THis  is not validated");
 
                },
                error: function (err) {
                    debugger;
                }
            });
        });
    });
      
 

    </script>
  <input type="text" id="value" /> 
  <input type="submit" id="Result" />
</body>
</html></html>