<!DOCTYPE HTML>
<html>
<head>
    <title>Uni One</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,800" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Oleo+Script:400" rel="stylesheet" type="text/css" />
    <script src="js/dummy.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/skel-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
</head>
<body class="homepage" ng-app="unione" ng-controller="CtrlBrowse" ng-cloak>

<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                <header id="header">

                    <!-- Logo -->
                    <div id="logo">
                        <h1><a href="#" id="_logo">Uni One</a></h1>
                        <span>Stop Wondering.</span>
                    </div>

                    <!-- Login -->
                    <form name="FormSearch">
                        <nav id="login">
                            <ul>
                                <li>
                                <select name="university" class="4u" ng-model="data.universityId" ng-options="item.value as item.name for item in universities">
                                    <option>Select university</option>
                                </select>
                                </li>
                                <li><input type="text" class="5u" name="searchquery" ng-model="data.query" placeholder="Search courses..." required/></li>
                                <li><input type="submit" class="button button-icon button-icon-rarrow " value="Search" ng-disabled="FormSearch.$invalid" name="search" ng-click="search()"/></li>
                            </ul>
                        </nav>
                    </form>

                </header>

            </div>
        </div>
    </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="4u">

                <!-- Sidebar -->
                <div id="sidebar">

                    <section>
                        <h3>Visited Courses</h3>
                        <p>
                            <ul class="visitedcourses">
                                <li ng-repeat="course in visitedCourses">

                                    <h4>{{course.cname +' ('+ course.cgrade +')'}}</h4>
                                    {{course.uname +' ('+ course.ugrade +')'}}
                                    <rating value="rate" max="10" readonly="isReadonly"></rating>

                                </li>
                            </ul>
                        </p>

                    </section>

                </div>

            </div>
            <div class="8u skel-cell-mainContent">
                <p ng-bind-html-unsafe="updateSearchMessage()"></p>
                <!-- Content -->
                <div id="content">
                    <article class="searchresult" ng-repeat="course in searchResults" ng-click="viewCourse()">
                        <a>
                            <h2>{{course.cname +' ('+ course.cgrade +')'}}</h2>
                            <h3>{{course.uname +' ('+ course.ugrade +')'}}</h3>
                            <p>random Comment</p>
                        </a>
                    </article>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Footer Wrapper -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Links -->
                <section class="widget-links">
                    <h2>Random Stuff</h2>
                    <ul class="style2">
                        <li><a href="#">Etiam feugiat condimentum</a></li>
                        <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                        <li><a href="#">Sed porttitor cras in erat nec</a></li>
                        <li><a href="#">Felis varius pellentesque potenti</a></li>
                        <li><a href="#">Nullam scelerisque blandit leo</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u">

                <!-- Contact -->
                <section class="widget-contact last">
                    <h2>Contact Us</h2>
                    <ul>
                        <li><a href="#" class="twitter">Twitter</a></li>
                        <li><a href="#" class="facebook">Facebook</a></li>
                        <li><a href="#" class="dribbble">Dribbble</a></li>
                        <li><a href="#" class="googleplus">Google+</a></li>
                    </ul>
                    <p>1234 Fictional Road Suite #5432<br />
                        Nashville, Tennessee 00000-0000<br />
                        (800) 555-0000</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    &copy; Untitled. All rights reserved. | Images: <a href="http://fotogrph.com/">fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 UP</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jstorage.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>